{% extends "base.html" %}

{% block content %}
<br><br>
<div class="col-md-6 offset-md-3">
        <div class="huge">Add Appointment</div>
    </div>
    <div class="col-md-6 offset-md-3 border pt-2" >
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="">
                {{ form.hidden_tag() }} <!--CSRF TOKEN -->
                   <fieldset class="form-group" >
                        <div class="form-group">
                            {{ form.appointment_name.label(class="form-control-label") }}
                            {{ form.appointment_name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group" >
                        <div class="form-group">
                            {{ form.doctor_name.label(class="form-control-label") }}
                            {{ form.doctor_name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.patient_name.label(class="form-control-label") }}
                            {{ form.patient_name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.date.label(class="form-control-label") }}
                            {{ form.date(class="form-control form-control-lg") }}

                        </div>
                    </fieldset>
            </div>
        </div>

        <br>
<div class="row">
            <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Appointment</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
  {% endblock %}


