
{% extends "base.html" %}
{% block head %}
{{super()}}

{% endblock %}
{% block content %}
{{super()}}
<div class="content-wrapper">
            <div class="content-heading">
                <h1>Appointment</h1>
               <small data-localize="dashboard.WELCOME"></small>
               <div class="pull-right">
                  <div class="btn-group">

                         <a style="bottom: 27px;"  class="btn btn-primary" href="{{ url_for('appointment.add_appointment') }}">Add appointment</a>

                  </div>
               </div>
            </div>
<table id="appointment" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Appointment Name</th>
                <th>Doctor Name</th>
                <th>Patient Name</th>
                <th>Appointment Date</th>
                <th>Action</th>
            </tr>
        <thead>
</table>

<script>
             $(document).ready( function () {
                 if ($('#appointment').length > 0){
                     $('#appointment').DataTable({
                        "serverSide": true,
                        "ajax": {  url: "appointment/api",
                        "data": function (d) {   delete d.columns; },
                                },
                     });
                 }
             } );
 </script>

</div>
{% endblock %}
