{% extends "base.html" %}

{% block content %}
<br><br>
<div class="col-md-6 offset-md-3">
        <div class="huge">Delete undergoes</div>
    </div>
    <div class="col-md-6 offset-md-3 border pt-2" >
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="">
                {{ form.hidden_tag() }} <!--CSRF TOKEN -->
                  <fieldset class="form-group" >
                        <div class="form-group">
                            {{ form.doc_full_name.label(class="form-control-label") }}
                            {{ form.doc_full_name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                     <fieldset class="form-group" >
                        <div class="form-group">
                            {{ form.pat_full_name.label(class="form-control-label") }}
                            {{ form.pat_full_name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group" >
                        <div class="form-group">
                            {{ form.procedure_code.label(class="form-control-label") }}
                            {{ form.procedure_code(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group" >
                        <div class="form-group">
                            {{ form.date.label(class="form-control-label") }}
                            {{ form.date(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                   <fieldset class="form-group" >
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            {{ form.name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <fieldset class="form-group" >
                        <div class="form-group">
                            {{ form.room_no.label(class="form-control-label") }}
                            {{ form.room_no(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
        </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">Delete undergoes</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
          <div class="row">
            <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning"><a style="bottom: 27px;"  href="{{ url_for('undergoes.undergoes') }}">Cancel</a></button>
                        </div>
                    </fieldset>
                </form>
            </div>
    </div>
  {% endblock %}


