{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <header style="background-color: #2A2728;"class="top navbar-wrapper">
<!--          START Top Navbar-->
         <nav class="navbar navbar-inverse">
            <div class="container-fluid">
               <div class="navbar-header">
                  <a class =":navbar-brand" href="/"><b>Hospital Management System</b></a>
               </div>
               <ul class="nav navbar-nav">
                  <li class =":active"><a href="/"><b>Home</b></a></li>
               </ul>
               <ul class style="background-color: brand;nav navbar-nav navbar-left">
                  <li class style=":active"><a href="about_us.html"><b>Creators</b></a></li>
               </ul>
            </div>
         </nav>
      </header>
 <hr>
<br><br>
<br><br>
<div class="col-md-6 offset-md-3">
        <div class="huge">Add Nurse</div>
    </div>
    <div class="col-md-6 offset-md-3 border pt-2" >
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="">
                {{ form.hidden_tag() }} <!--CSRF TOKEN -->
                   <fieldset class="form-group" >
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            {{ form.name(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.nurse_address.label(class="form-control-label") }}
                            {{ form.nurse_address(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.nurse_ph_no.label(class="form-control-label") }}
                            {{ form.nurse_ph_no(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12">
                    <fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Nurse</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
  {% endblock %}


